
<script>
	  
		$.ajax({
    success:function(){
        //your stuff
       $("#modelname").datepicker({ dateFormat: "dd.mm.yy" });
     }
 });
  
			
</script>

<div class="panel callout radius">
<h1>Введите свои личные данные.</h1>

<%= render layout: 'form' do |f| %>
  
    <%= f.label :"ФИО" %><br/>
    <%= f.text_field :name %>
  
    <%= f.label :"Дата рождения" %><br />
    
    <%= f.text_field :date_of_birth,:value => Time.now.strftime('%d.%m.%Y'),:id => "modelname" %>
    
    <%= f.label :"Электронная почта" %><br />
    <%= f.text_area :email, rows: 5 %>
  
<% end %>

</div>