

<%= form_for :riskizations, :url => {:action => 'update_rzs'} do %>
	<table>
		<tr>
		<th>Current</th>
		<th>Publication date</th>
		<th>Name</th>
		</tr>
		<% i=0%>
			<% @user.riskizations.each do |riskization| %>
			<%= fields_for "riskization[]", riskization do |riskization_fields| %>
			<tr>
				<% i=i+1%>
				<td><%= i %></td>

				<% @u = @user.risks.find(riskization.risk_id) %>
    			<td><%= @u.risk %></td>
				<td><%= i %></td>

				<td><%= riskization_fields.text_area :mpred %></td>
				<% session[:st] = 2 %>
			</tr>
			<% end %>
			<% end %>
	</table>
	<%= submit_tag 'Update' %>
	<%= link_to "skip this step", next_wizard_path %>
<% end %>





