<td><%= link_to 'Back', users_path %></td>

<p>
  <strong>Дата : </strong>
  <%=  Date.today %>
</p>
 
	<center>Карточка</center><br>
	<center>
	 	по оценке профессиональных рисков
	</center>
	<center>
	 	(при проведении .............. работ)
	</center>

	<div style="border: thin solid black">
			<br>
	</div>
	
  <strong>ФИО:</strong>
  <%= @user.name %>
</p>
 
 <p>
  <strong>Рабочее место:</strong>
  <%= @user.rabm%>
</p>
 
<p>
  <strong>Описание рабочих действий:</strong>
  <%= @user.oprab %>
</p>



<p>
  <strong>Реальное состояние дел:</strong>
  <%= @user.realst %>
</p>

<p>
  <strong>Список факторов риска:</strong>
  <p>
  	<table border="1">
		<tr>
		<th>Наименование риска</th>
		<th>Степень риска</th>
		
		</tr>
		<%s = ""%>
    <% for rc in @user.riskizations %>
    	<% @u = @user.risks.find(rc.risk_id) %>
    	<td><%= @u.risk %></td>
    	<% 
    	  ind = rc.rver.to_i + rc.rposl.to_i
    		    
    	    case ind
				when 1 .. 3
    				s =	"Незначительный риск"
				when 4 .. 5
    				s = "Приемлемый риск"
				when 6 .. 7
    				s = "Терпимый риск"
				when 8 .. 9
    				s = "Значительный риск"
				else
    				s = "Недопустимый риск"
			end	
    	 %>
    	 <td>
    	 	<%= s %>
    	</td>
    	</tr>
	  <% end %>
 	</table>
  </p>   
</p>


<p>
  <strong>Список стандартов:</strong>
  <%= @user.lstand %>
</p>

<p>
  <strong>Список лиц попадающих под воздействие:</strong>
  <%= @user.hlist %>
</p>

