<td><%= link_to 'Back', users_path %></td>


<p>
  <strong>ФИО:</strong>
  <%= @user.name %>
</p>
 
 <p>
  <strong>Рабочее место:</strong>
  <%= @user.rabm%>
</p>
 
<p>
  <strong>Описание рабочих действий:</strong>
  <%= @user.oprab %>
</p>



<p>
  <strong>Реальное состояние дел:</strong>
  <%= @user.realst %>
</p>

<p>
  <strong>Список факторов риска:</strong>
  <p>
    <% for rc in @user.riskizations %>
    	<% @u = @user.risks.find(rc.risk_id) %>
    	<td><%= @u.risk %></td>
    	<td><%= rc.rver %></td>
		<td><%= rc.rposl %></td><>
    	</tr>
  
	  <% end %>
  </p>
  
   
</p>

<p>
  <strong>Список стандартов:</strong>
  <%= @user.lstand %>
</p>

<p>
  <strong>Список лиц попадающих под воздействие:</strong>
  <%= @user.hlist %>
</p>

